---
// src/components/Footer.astro
---
<footer class="footer-section">
    <div class="container">
        <div class="row padding">
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer-item">
                    <a class="logo" href="#"><img src="/assets/img/logo-dark.png" alt="logo"></a>
                    <p>Jasa jahit custom terpercaya sejak 2011. Melayani pembuatan pakaian sesuai desain dan ukuran Anda, dengan hasil rapi dan bahan berkualitas.</p>
                    <ul class="certified">
                        <li><img src="/assets/img/certified-logo-1@2x.png" alt="img"></li>
                        <li><img src="/assets/img/certified-logo-2@2x.png" alt="img"></li>
                        <li><img src="/assets/img/certified-logo-3@2x.png" alt="img"></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer-item">
                    <h3>Headquarters</h3>
                    <p>Jalan Hayam Wuruk no. 111 ZC</p>
                    <p>Kel Maphar, Kec. Taman Sari, Kota Adm Jakarta Barat, Prov. DKI Jakarta
                    <br>+62 8129 0279 222</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer-item">
                    <h3>Opening Hours</h3>
                    <p>Senin - Sabtu: 8am - 5pm
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 sm-padding">
                <div class="footer-item">
                    <h3>Subscribe Newsletter</h3>
                    <form action="#" class="subscribe-form">
                        <input type="email" name="email" id="subs-email" class="form-input" placeholder="Enter Your Email Address...">
                        <button type="submit" class="submit-btn"><i class="far fa-envelope"></i></button>
                        <div id="subscribe-result">
                            <p class="subscription-success"></p>
                            <p class="subscription-error"></p>
                        </div>
                    </form>
                    <p>Dapatkan update terbaru tentang koleksi, promo spesial, dan tips fashion langsung ke email Anda.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright">© <span id="currentYear"></span> JAHIT by <a href="https://lmi.co.id/" target="_blank">LMI</a> Terms and Conditions</p>
            </div>
        </div>
    </div>
</footer>